<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.hopestarter.wallet_test"
    android:installLocation="internalOnly"
    android:versionCode="236"
    android:versionName="4.46-test">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="org.hopestarter.wallet.WalletApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_app_color_48dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.hopestarter.wallet.ui.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.hopestarter.wallet.ui.CreateAccountActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="org.hopestarter.wallet.ui.PictureSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.hopestarter.wallet.ui.ConfirmPictureActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.hopestarter.wallet.ui.CreateNewUpdateActivity"
            android:label="@string/title_activity_create_new_update"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.hopestarter.wallet.ui.MainTabbedActivity"
            android:label="@string/title_activity_main_tabbed"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="org.hopestarter.wallet.AddressBookProvider"
            android:authorities="org.hopestarter.wallet_test.address_book"
            android:exported="false" />
        <provider
            android:name="org.hopestarter.wallet.ExchangeRatesProvider"
            android:authorities="org.hopestarter.wallet_test.exchange_rates"
            android:exported="false" />
        <provider
            android:name="org.hopestarter.wallet.FileAttachmentProvider"
            android:authorities="org.hopestarter.wallet_test.file_attachment"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- <receiver -->
        <!-- android:name="de.schildbach.wallet.WalletBalanceWidgetProvider" -->
        <!-- android:label="Bitcoin WalletFragment Balance"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/wallet_balance_widget" /> -->
        <!-- </receiver> -->

        <service
            android:name="org.hopestarter.wallet.service.BlockchainServiceImpl"
            android:exported="false" />
        <service
            android:name="org.hopestarter.wallet.offline.AcceptBluetoothService"
            android:exported="false" />

        <receiver android:name="org.hopestarter.wallet.service.AutosyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.hopestarter.wallet.service.UpgradeWalletService"
            android:exported="false" />

         <meta-data
         android:name="android.nfc.disable_beam_default"
         android:value="true" />


    </application>

</manifest>
